

#container{
 background-color:rgb(226, 239, 255);
}
.content-wrapper{
  background-color: #0dcaf0;
} 
#controladmin{
 background-color: transparent;
 box-shadow: 2px 2px 10px; 
}

#background-start{
  background-color:azure;
}

.user-panel{
  background-color: transparent;
  box-shadow: 2px 2px 5px;
}

.info a{
  font-family: cursive;
  font-size: 20px;
  color:darkcyan}

.sidebar{
  background-color: azure;
}

.main-sidebar{
  background-color: azure;
}
#nav{
  background-color: azure;
}
i{
  color:black;
}




